.btn-green {
  background: #489a2c;
  color: white;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-green:hover {
  background: #5cff5f;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-danger-custom {
  background: #ac2626;
  color: var(--secondary-white);
  border: none;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-danger-custom:hover {
  background: #d63939;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-warning-custom {
  background: #ffc107;
  color: black;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-warning-custom:hover {
  background: #fbe157;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-outline-custom {
  background: white;
  color: black;
  border: 1px solid #ced4da;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-outline-custom:hover {
  background: var(--primary-purple);
  color: white;
  border-color: var(--primary-purple);
}

.alert-unpaid {
  background: #f9d423;
  color: black;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.alert-unpaid:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
