<div class="container-fluid d-flex align-items-center pt-4">
  <div class="card col-12 col-sm-10 col-md-8 col-lg-6 p-2 mx-auto">
    <h2 class="text-center mb-4">Szczegóły wizyty</h2>
    <div *ngIf="appointment() as app" class="d-flex flex-column align-items-center">
      <div class="mb-2 w-100">
        <app-doctor-card
          [id]="app.doctor.id"
          [name]="app.doctor.name"
          [surname]="app.doctor.surname"
          [specialization]="app.doctor.specializations[0].name"
          [profilePicture]="app.doctor.profilePicture"
          [price]="app.service.price"
          [mode]="'appointmentRegister'"
        />
      </div>
      <div class="mb-2 w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Data i godzina</mat-label>
          <input readonly matInput [value]="app.startedAt | date:'dd MMMM yyyy, hh:mm':'':'pl'"/>
        </mat-form-field>
      </div>
      <div class="mb-2 w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status płatności</mat-label>
          <input readonly matInput [value]="mapPaymentToVisibleStatus(app.payment.status)"/>
        </mat-form-field>
      </div>
      <div class="mb-2 w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Typ wizyty</mat-label>
          <input readonly matInput [value]="app.service.name"/>
        </mat-form-field>
      </div>
      <div class="mb-1 w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Dodatkowe informacje</mat-label>
          <textarea style="resize: none"  readonly matInput [value]="app.description"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="app.status === AppointmentStatus.CREATED" class="mb-4 w-100">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Zarządzaj wizytą </mat-panel-title>
              <mat-panel-description> Przełóż, opłać lub odwołaj wizytę </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row w-100 mb-2">
              <div class="col-sm text-center mb-3">
                <button
                  mat-flat-button
                  type="button"
                  class="btn border"
                  style="background-color: #ac2626; color: var(--secondary-white)"
                  routerLink="/profile/appointments"
                >Odwołaj</button>
              </div>
              <div class="col-sm text-center mb-3">
                <button
                  *ngIf="app.payment.status === PaymentStatus.CREATED"
                  mat-flat-button
                  type="button"
                  class="btn bg-warning text-white"
                  routerLink="/profile/appointments"
                >Opłać</button>
              </div>
              <div class="col-sm text-center mb-3">
                <button
                  mat-flat-button
                  type="button"
                  class="btn text-white"
                  style="background-color: var(--primary-purple)"
                  routerLink="/profile/appointments"
                >Przełóż</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row w-100">
        <div class="col-sm text-center">
          <button
            mat-flat-button
            type="button"
            class="btn border"
            style="background-color: white; color: black"
            routerLink="/profile/appointments"
          >Powrót</button>
        </div>
      </div>
    </div>
  </div>
</div>
