<div class="container d-flex pt-3 flex-column">
  <h2 class="text-center mb-4">
    Uwaga grafik posiada umówione wizyty
  </h2>
  <div class="col-12 col-sm-12 col-md-10 col-lg-10 p-4 mx-auto rounded-2">
    <p class="text-center mb-4">
      Zanim grafik zostanie zmodyfikowany, konieczne jest poinformowanie pacjentów oraz odwołanie umówionych wizyt.
    </p>

    <mat-selection-list #appointments class="horizontal-list">
      @for (appointment of appointmentsList; track appointment) {
        <mat-list-option>
          <app-patient-card
            [appointmentId]="appointment.id"
            [name]="appointment.patient.name"
            [surname]="appointment.patient.surname"
            [visitName]="appointment.service.name"
            [date]="appointment.startedAt"
            [phoneNumber]="appointment.patient.phoneNumber"
            [email]="appointment.patient.email"
            [mode]="'collision'"
          />
        </mat-list-option>
      }
    </mat-selection-list>

    <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center w-100 gap-2 mt-3">
      <div class="col-sm text-center">
        <button mat-flat-button type="button" class="btn border w-75" (click)="onCancel()">Anuluj</button>
      </div>
      <div *ngIf="data.isDeleting" class="col-sm text-center">
        <button mat-flat-button type="button" class="btn btn-danger-custom w-75" (click)="removeSchedule()" [disabled]="appointments.selectedOptions.selected.length !== appointmentsList.length">Chcę usunąć grafik</button>
      </div>
      <div *ngIf="!data.isDeleting" class="col-sm text-center">
        <button mat-flat-button type="button" class="btn text-white w-75" style="background-color: var(--primary-purple);" (click)="changeSchedule()" [disabled]="appointments.selectedOptions.selected.length !== appointmentsList.length">Chcę przełożyć grafik</button>
      </div>
    </div>
  </div>
</div>
