<div class="container-fluid d-flex align-items-center pt-4">
  <div class="card col-12 col-sm-10 col-md-8 col-lg-6 p-4 mx-auto shadow-lg border-0 rounded-4">
    <h2 class="text-center mb-4 fw-bold py-3 rounded-4 shadow-sm" style="background-color: #d3d2d2;">
      Szczegóły grafiku
    </h2>
    <div *ngIf="schedule() as app" class="d-flex flex-column align-items-center">

      <div class="mb-2 w-100">
        <app-doctor-card
          [id]="app.doctor.id"
          [name]="app.doctor.name"
          [surname]="app.doctor.surname"
          [specialization]="app.doctor.specializations[0].name"
          [profilePicture]="app.doctor.profilePicture"
          [mode]="'schedule'"
        />
      </div>

      <div class="card p-2 mb-4 w-100">
        <h5 class="text-center">Serwisy przypisane do grafiku</h5>
        <ul class="list-group mb-1 overflow-y-auto" style="max-height: 150px; scroll-behavior: smooth">
          <li *ngFor="let service of app.services" class="list-group-item">
            {{ service.name }}
          </li>
        </ul>
      </div>
      <div class="mb-2 w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Data</mat-label>
          <input readonly matInput [value]="app.startedAt | date:'dd MMMM yyyy':'':'pl'"/>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row gap-4 justify-content-center mb-1 w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Godzina rozpoczęcia</mat-label>
          <input readonly matInput [value]="app.startedAt | date:'HH:mm':'':'pl'"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Godzina zakończenia</mat-label>
          <input readonly matInput [value]="app.finishedAt | date:'HH:mm':'':'pl'"/>
        </mat-form-field>
      </div>

      <div class="row w-100">
        <div class="col-sm text-center">
          <button mat-flat-button type="button" class="btn btn-purple w-100" (click)="goBack()">Powrót</button>
        </div>
        <div class="col-sm text-center">
          <button mat-flat-button type="button" class="btn btn-danger-custom w-100" (click)="removeSchedule()">Usuń grafik</button>
        </div>
        <div class="col-sm text-center">
          <button mat-flat-button type="button" class="btn btn btn-warning-custom w-100" (click)="changeSchedule()">Przełóż grafik</button>
        </div>
      </div>
    </div>
  </div>
</div>
