.btn-danger-custom {
  background: #ac2626 !important;
  color: var(--secondary-white) !important;
  border: none;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-danger-custom:hover {
  background: #d63939;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-purple {
  background: #692c9a !important;
  color: white !important;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.btn-purple:hover {
  background: #b65cff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-green {
  background: #489a2c !important;
  color: white !important;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.btn-green:hover {
  background: #5cff5f;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.custom-readonly[readonly] {
  opacity: 0.75;
  color: inherit;
  background-color: transparent;
}
.horizontal-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;
  gap: 16px;

  &::-webkit-scrollbar {
  height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  mat-list-option {
    flex: 1 0 auto;
    width: auto;
    height: auto;
    padding: 0 !important;

    ::ng-deep .mdc-list-item__content {
      padding: 0;
    }
  }
}
