<h2 mat-dialog-title class="text-center">
    Tworzenie nowej specjalizacji
</h2>

<mat-dialog-content>
  <p>
    Proszę wpisać nazwę nowej specjalizacji
    <br>
  </p>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Nazwa</mat-label>
    <input matInput appInputRef [formControl]="createForm" />
    @if (createForm.invalid) {
      <mat-error>{{ getErrorMessage(createForm) }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<div class="container">
  <app-alert *ngIf="infoMessage()" [text]="infoMessage()" [variant]="variant()"></app-alert>
</div>
<mat-dialog-actions
  class="d-flex justify-content-between w-100"
  [class.mt-2]="!infoMessage()">

  <button mat-stroked-button type="button" (click)="onNoClick()">
    Anuluj
  </button>

  <button
    mat-flat-button
    class="btn text-white border-0"
    style="background-color: var(--primary-purple)"
    (click)="onSubmit()"
    [disabled]="createForm.invalid">
    Stwórz
  </button>

</mat-dialog-actions>
