<h2 mat-dialog-title>
    Tworzenie nowej specjalizacji
</h2>

<mat-dialog-content>
  <p>
    <b>Proszę wpisać nazwę nowej specjalizacji</b>
    <br>
  </p>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Nazwa</mat-label>
    <input matInput [formControl]="createForm" />
    @if (createForm.invalid) {
      <mat-error>{{ getErrorMessage(createForm) }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<div class="container">
  <app-alert *ngIf="infoMessage()" [text]="infoMessage()" [variant]="variant()"></app-alert>
</div>
<mat-dialog-actions [class]="infoMessage() ? '' : 'mt-2'" align="end">
  <button mat-stroked-button type="button" (click)="onNoClick()">Anuluj</button>
  <button mat-flat-button class="btn text-white border-0" style="background-color: var(--primary-purple)" (click)="onSubmit()" [disabled]="createForm.invalid">
    Stwórz
  </button>
</mat-dialog-actions>
