<app-doctor-appointment-card
  [doctor]="doctorAppointmentCard()!"
  [(selectedDateTime)]="selectedDateTime"
  (timeSelectedReschedule)="onTimeSelected($event)"
  [mode]="'reschedule'"
  class="mb-4"
/>

<div class="mb-3 w-100">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Dodatkowe informacje</mat-label>
    <textarea matInput placeholder="Czy muszę przynieść swoje poprzednie badania?" [formControl]="additionalInformation"></textarea>
    @if (additionalInformation.invalid) {
      <mat-error>{{ getErrorMessage(additionalInformation) }}</mat-error>
    }
  </mat-form-field>
</div>

<div class="row w-100 mt-4">
  <div class="col-sm text-center mb-2">
    <button mat-flat-button type="button" class="btn btn-outline-custom w-50 mb-2"
            (click)="onCancel()">Powrót</button>
  </div>
  <div class="col-sm text-center mb-2">
    <button mat-flat-button type="button" class="btn btn-purple w-50 mb-2"
            [disabled]="selectedDateTime() === null"
            (click)="onConfirmReschedule()">Przełóż</button>
  </div>
</div>
