<h2 mat-dialog-title>Uwaga!<br> Za chwilę założysz weryfikację dwuetapową na numer telefonu.</h2>

<mat-dialog-content>
  <p>
    Proszę wpisać poniżej kod wysłany na <b>{{ data.phoneNumber }}</b>:
    <br>
  </p>

  <mat-form-field class="w-100" appearance="fill">
    <input matInput [formControl]="confirmForm" />
    @if (confirmForm.invalid) {
      <mat-error>{{ getErrorMessage(confirmForm) }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<div class="container">
  <app-alert *ngIf="infoMessage()" [text]="infoMessage()" [variant]="variant()"></app-alert>
</div>
<mat-dialog-actions  class="w-100 d-flex justify-content-between mt-4" [class]="infoMessage() ? '' : 'mt-5'">
  <button mat-flat-button class="btn border w-25" type="button" (click)="onNoClick()">Anuluj</button>
  <button mat-flat-button class="btn text-white w-25" style="background-color: var(--primary-purple)" (click)="onSubmit()" [disabled]="confirmForm.invalid">
    Zatwierdź
  </button>
</mat-dialog-actions>
