<div class="container pt-3">
  <h2 class="pb-4 text-center">Wyszukaj specjalistę, aby umówić wizytę</h2>

  <app-doctor-appointment-search
    (confirmSearch)="onSearch($event)"
    />

  <div *ngIf="recommendedDoctors">
  <h2 class="pt-4 text-center pb-4">Polecani specjaliści</h2>
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-2">
      <div class="col d-flex justify-content-center" *ngFor="let doctor of recommendedDoctors">
        <app-doctor-card
          class="w-100 h-100"
          [id]="doctor.id"
          [name]="doctor.name"
          [surname]="doctor.surname"
          [specialization]="doctor.specializations[0].name"
          [rating]="doctor.rating"
          [profilePicture]="doctor.profilePicture">
        </app-doctor-card>
      </div>
    </div>
  </div>
  </div>
</div>
