<div class="container pt-3">

  <h2 class="text-center mb-4">Lista newsletterów</h2>

  <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
    <h4 class="mb-0 ms-1">Zaplanowane do rozesłania</h4>
    <button mat-flat-button class="btn text-white" style="background-color: var(--primary-purple)" (click)="onCreate()">
      Stwórz nowy wpis
    </button>
  </div>

  <div class="table-container border rounded-2 mb-5">
    <table mat-table [dataSource]="dataSourceScheduled" matSort #scheduledSort="matSort" class="table">

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data utworzenia </th>
        <td mat-cell *matCellDef="let row">
          {{ row.createdAt | date:'dd MMMM yyyy':'':'pl' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł wiadomości </th>
        <td mat-cell *matCellDef="let row">{{ row.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="scheduledAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zaplanowana data wysłania </th>
        <td mat-cell *matCellDef="let row">
          {{ row.scheduledAt | date:'dd MMMM yyyy HH:mm':'':'pl' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button type="button" class="btn text-white w-75" style="background-color: var(--primary-purple);" (click)="onDetails(row.id)">
            Szczegóły
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="scheduledDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: scheduledDisplayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-muted py-3" colspan="4">
          Brak zaplanowanych wiadomości
        </td>
      </tr>

    </table>

    <mat-paginator #scheduled [length]="totalCountScheduled" [pageSize]="5" aria-label="Wybierz stronę">
    </mat-paginator>

  </div>

  <h4 class="mt-4 mb-2">Pozostałe wiadomości</h4>
  <div class="table-container border rounded-2">
    <table mat-table [dataSource]="dataSourceAll" matSort #allSort="matSort" class="table">

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data utworzenia </th>
        <td mat-cell *matCellDef="let row">
          {{ row.createdAt | date:'dd MMMM yyyy':'':'pl' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł wiadomości </th>
        <td mat-cell *matCellDef="let row">{{ row.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Czy zatwierdzona </th>
        <td mat-cell *matCellDef="let row">
          <span class="badge fw-normal" [class.bg-success]="row.approved" [class.bg-danger]="!row.approved">
            {{ row.approved ? 'Tak' : 'Nie' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="scheduledAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zaplanowana data wysłania </th>
        <td mat-cell *matCellDef="let row">
          {{ row.scheduledAt | date:'dd MMMM yyyy HH:mm':'':'pl' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button type="button" class="btn text-white w-auto" style="background-color: var(--primary-purple);" (click)="onDetails(row.id)">
            Szczegóły
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="allDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: allDisplayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-muted py-3" colspan="5">
          Brak wiadomości
        </td>
      </tr>
    </table>

    <mat-paginator #all [length]="totalCountAll" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Wybierz stronę">
    </mat-paginator>
  </div>

</div>
