.search-container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.search-container h2 {
  color: var(--primary-purple);
  font-weight: bold;
  margin-bottom: 1rem;
}

.title-container h2 {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  color: var(--primary-purple);
  font-weight: bold;
  text-align: center;
}

.mat-elevation-z8 {
  box-shadow: none !important;
  border-radius: 1rem;
  overflow: hidden;
}

table.mat-mdc-table {
  width: 100%;
  padding: 0.75rem;
  background-color: #fff;
  border-collapse: collapse;
  margin: 0;
}

th.mat-mdc-header-cell {
  background-color: var(--primary-purple);
  color: white;
  font-weight: 600;
  padding-left: 1.5rem;
  border: none;
}

td.mat-mdc-cell {
  padding-left: 1.5rem;
  border-top: 1px solid #eee;
}

tr.mat-mdc-row:hover {
  background-color: #faf5fb;
}

.btn-green {
  background-color: #149519;
  color: white;
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.4rem;
}

.btn-green:hover {
  background-color: #246726;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
  border: none;
}

.btn-info:hover {
  background-color: #138496;
}

mat-paginator {
  background-color: white;
}

::ng-deep .mat-mdc-paginator-range-actions button {
  color: var(--secondary-white) !important;
}

::ng-deep .mat-sort-header-arrow {
  color: var(--secondary-white) !important;
}
