<div class="container d-flex flex-column align-items-center pt-4 mx-auto">
  <div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto">
    <h2 class="text-center mb-4">Moje wizyty</h2>
    <div class="mb-3">
      <mat-form-field appearance="outline" class="d-flex mx-auto w-50">
        <mat-label>Status wizyty</mat-label>
        <mat-select [formControl]="appointmentType">
          @for (type of appointmentTypes; track type) {
            <mat-option [value]="type.key">{{ type.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  <h5 *ngIf="appointments.length === 0" class="text-center fw-light mb-4">Brak wizyt</h5>
  <div *ngIf="appointments.length !== 0" class="mx-auto w-100">
    <div class="mb-3" *ngFor="let value of appointments">
      <app-doctor-card
        [id]="value.id"
        [name]="value.doctor.name"
        [surname]="value.doctor.surname"
        [specialization]="value.doctor.specializations[0].name"
        [date]="value.startedAt"
        [price]="value.service.price"
        [profilePicture]="value.doctor.profilePicture"
        [serviceName]="value.service.name"
        [paymentStatus]="value.payment.status"
        [mode]="'visit'"
        (click)="goToDetails(value)"
      >
      </app-doctor-card>
    </div>
    </div>
    <mat-paginator [length]="totalData" [pageSize]=5 aria-label="Wybierz stronę"></mat-paginator>
  </div>
</div>
