<nav class="navbar navbar-expand-lg navbar-light" style="background: var(--primary-purple)">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="">
      <img ngSrc="/aurorumclinic.png" width="50" height="50" class="d-inline-block align-top" alt="brand-logo">
      <span class="ms-2 text-white">Aurorum Clinic</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li *ngIf="user" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center text-white" role="button" id="accountDropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon fontIcon="account_box" class="d-none d-lg-inline"></mat-icon>
            <span class="d-inline d-lg-none w-100 text-center">Konto</span>
          </a>
          <div [ngSwitch]="userRole">
            <ul *ngSwitchCase="UserRole.PATIENT" class="dropdown-menu dropdown-menu-end" [ngClass]="{'dropdown-menu-end': isLargeScreen}" aria-labelledby="accountDropdownUser">
              <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
              <li><a class="dropdown-item" routerLink="/profile/appointments">Wizyty</a></li>
              <li><a class="dropdown-item" routerLink="">Wiadomości</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="" (click)="logout()" >Wyloguj</a></li>
            </ul>
            <ul *ngSwitchCase="UserRole.EMPLOYEE" class="dropdown-menu dropdown-menu-end" [ngClass]="{'dropdown-menu-end': isLargeScreen}" aria-labelledby="accountDropdownUser">
              <li><a class="dropdown-item" routerLink="/internal/appointments">Wizyty</a></li>
              <li><a class="dropdown-item" routerLink="/internal/patients">Pacjenci</a></li>
              <li><a class="dropdown-item" routerLink="/internal/doctors">Lekarze</a></li>
              <li><a class="dropdown-item" routerLink="/internal/schedules">Grafik</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="" (click)="logout()" >Wyloguj</a></li>
            </ul>
            <ul *ngSwitchCase="UserRole.DOCTOR" class="dropdown-menu dropdown-menu-end" [ngClass]="{'dropdown-menu-end': isLargeScreen}" aria-labelledby="accountDropdownUser">
              <li><a class="dropdown-item" routerLink="/internal/appointments">Wizyty</a></li>
              <li><a class="dropdown-item" routerLink="/internal/my-schedules">Grafik</a></li>
              <li><a class="dropdown-item" routerLink="/internal/my-absences">Nieobecności</a></li>
              <li><a class="dropdown-item" [routerLink]="['/doctor/profile']" [state]="{ doctorId: user.id}">Mój profil lekarza</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="" (click)="logout()" >Wyloguj</a></li>
            </ul>
            <ul *ngSwitchCase="UserRole.ADMIN" class="dropdown-menu dropdown-menu-end" [ngClass]="{'dropdown-menu-end': isLargeScreen}" aria-labelledby="accountDropdownUser">
              <li><a class="dropdown-item" routerLink="/internal/users">Pracownicy</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="" (click)="logout()" >Wyloguj</a></li>
            </ul>
          </div>
        </li>

        <a *ngIf="!user" routerLink="/auth/login" class="nav-link d-flex align-items-center text-white" role="button" id="accountDropdownGuest" aria-expanded="false">
          <mat-icon fontIcon="account_box" class="d-none d-lg-inline"></mat-icon>
          <span class="d-inline d-lg-none w-100 text-center">Zaloguj</span>
        </a>
      </ul>

    </div>
  </div>
</nav>
