<h2 mat-dialog-title>Uwaga!<br> Utracisz dostęp do twojego starego maila {{ data.oldEmail }}</h2>

<mat-dialog-content>
  <p>
    Proszę wpisać poniżej kod wysłany na <b>{{ data.updatedEmail.email }} </b>:
    <br>
  </p>

  <mat-form-field class="w-100" appearance="fill">
    <input matInput [formControl]="confirmForm" />
    @if (confirmForm.invalid) {
      <mat-error>{{ getErrorMessage(confirmForm) }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="onNoClick()">Anuluj</button>
  <button mat-flat-button class="btn text-white border-0" style="background-color: var(--primary-purple)" (click)="onSubmit()" [disabled]="confirmForm.invalid">
    Zmień adres email
  </button>
</mat-dialog-actions>
