<form class="d-flex flex-column align-items-center w-100" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
<h2 mat-dialog-title>Zmiana hasła</h2>

<mat-dialog-content class="w-100 d-flex flex-column align-items-center">
  <p>
    Za chwilę zmienisz hasło. Pamiętaj, aby twoje hasło było unikalne i nie związane z informacjami osobistymi np. swoje imię:
    <br>
  </p>
    <div class="mb-3 w-75">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Hasło</mat-label>
        <input
          id="password-patient-aurorum"
          matInput
          autocomplete="off"
          [type]="hidePassword() ? 'password' : 'text'"
          [formControl]="controls.password" />
        <button
          mat-icon-button
          matSuffix type="button"
          (click)="clickEventPassword($event)"
          [attr.aria-label]="'Ukryj hasło'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (controls.password.invalid) {
          <mat-error>{{ getErrorMessage(controls.password) }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="mb-3 w-75">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Powtórzone hasło</mat-label>
        <input
          id="password-repeated-patient-aurorum"
          matInput
          autocomplete="off"
          [type]="hidePassword() ? 'password' : 'text'"
          [formControl]="controls.repeatedPassword" />
        @if (controls.repeatedPassword.invalid) {
          <mat-error>{{ getErrorMessage(controls.repeatedPassword) }}</mat-error>
        }
      </mat-form-field>
    </div>

</mat-dialog-content>
<div class="container">
  <app-alert *ngIf="infoMessage()" [text]="infoMessage()" [variant]="variant()"></app-alert>
</div>
<mat-dialog-actions class="w-75 d-flex justify-content-between mt-4" [class]="infoMessage() ? '' : 'mt-5'">
  <button mat-stroked-button type="button" (click)="onNoClick()">Anuluj</button>
  <button type="submit" mat-flat-button class="btn text-white border-0" style="background-color: var(--primary-purple)" [disabled]="passwordResetForm.invalid">
    Zmień hasło
  </button>
</mat-dialog-actions>
</form>
