<div class="container-fluid d-flex align-items-center pt-4">
  <div class="card col-12 col-sm-12 col-md-10 col-lg-6 p-4 mx-auto shadow-lg border-0 rounded-4">
    <h3 class="text-center mb-4 fw-bold py-3 rounded-4 shadow-sm" style="background-color: #d3d2d2;">
      Odpowiedz na opinię
    </h3>

    <form [formGroup]="opinionForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center w-100">

      <div *ngIf="opinion() as opinion">
        <app-opinion-card
          [opinionId]="opinion.id"
          [patientId]="opinion.patient.id"
          [patientName]="opinion.patient.name"
          [patientSurname]="opinion.patient.surname"
          [rating]="opinion.rating"
          [comment]="opinion.comment"
          [createdAt]="opinion.createdAt"
          [answer]="opinion.answer"
          [answeredAt]="opinion.answeredAt"
          />
      </div>


      <mat-card class="mb-4 w-100 shadow-sm rounded-4">
        <mat-card-content class="pt-3">

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Treść odpowiedzi</mat-label>
            <textarea
              matInput
              rows="4"
              [formControl]="controls.answer"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="6"
            ></textarea>
            @if (controls.answer.invalid) {
              <mat-error>{{ getErrorMessage(controls.answer) }}</mat-error>
            }
          </mat-form-field>

        </mat-card-content>
      </mat-card>

      <app-alert class="mt-3 w-75" *ngIf="message()" [text]="message()"></app-alert>

      <div class="row w-100 gap-2">
        <div class="col-sm text-center">
          <button mat-flat-button type="button" class="btn btn-purple w-100" routerLink="/doctor/profile">Anuluj
          </button>
        </div>
        <div class="col-sm text-center">
          <button
            mat-flat-button
            type="submit"
            class="btn btn-green w-100"
            [disabled]="opinionForm.invalid"
          >
            Odpowiedz
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
