.btn-green {
  background: #489a2c !important;
  color: white !important;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.btn-green:hover {
  background: #5cff5f;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-danger-custom {
  background: #ac2626 !important;
  color: var(--secondary-white) !important;
  border: none;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-danger-custom:hover {
  background: #d63939;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-warning-custom {
  background: #ffc107 !important;
  color: black !important;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-warning-custom:hover {
  background: #fbe157;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-outline-custom {
  background: white;
  color: black;
  border: 1px solid #ced4da;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-outline-custom:hover {
  background: var(--primary-purple);
  color: white;
  border-color: var(--primary-purple);
}

.alert-unpaid {
  background: #fdf9b2;
  color: black;
  font-weight: 500;
}

