<div class="container-fluid">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-3 mt-4 border-top">
    <div class="col mb-3">
      <h5>Dane kontaktowe</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <span class="text-body-secondary">ul. Stefana Żeromskiego 100</span>
        </li>
        <li class="nav-item">
          <span class="text-body-secondary">00-123 Warszawa, Polska</span>
        </li>
        <li class="nav-item">
          <span class="text-body-secondary">+48 123 456 789</span>
        </li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Serwis</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <span class="text-body-secondary">Polityka prywatności</span>
        </li>
        <li class="nav-item">
          <span class="text-body-secondary">Cookies</span>
        </li>
        <li class="nav-item">
          <span class="text-body-secondary">Regulamin</span>
        </li>
      </ul>
    </div>
    <div class="col mb-3"></div>
    <div class="col mb-3"></div>
    <div class="col mb-3">
    </div>
  </footer>
</div>
