<div class="container d-flex align-items-center pt-5">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    <h2 class="text-center mb-3">
      Ponowna wysyłka emaila weryfikacyjnego
    </h2>
    <p class="text-center mb-5">
      Email nie przyszedł? Spokojnie, po upływie czasu możesz poprosić o email weryfikacyjny
    </p>
    <form class="d-flex flex-column align-items-center " (ngSubmit)="onResend()">
      <div class="mb-2 w-75">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input
            [readonly]="!canModify()"
            id="email-aurorum-recovery"
            matInput
            [value]="email()"
          />
        </mat-form-field>
      </div>
      <app-alert class="mt-3 w-75" *ngIf="message()" [text]="message()" [variant]="variant()"></app-alert>
      <div class="row w-100" [class]="message() ? 'mb-3' : 'mt-3 mb-3'">
        <div class="col-sm text-center">
          <button
            mat-flat-button
            type="button"
            class="btn border"
            style="background-color: white; color: black"
            routerLink="/auth/login"
          >Zaloguj</button>
        </div>
        <div class="col-sm text-center">
          <button
          mat-flat-button
          type="submit"
          class="btn text-white"
          [disabled]="!canResend()"
          style="background-color: var(--primary-purple)"
          >
          Wyślij email ponownie
          <span *ngIf="!canResend()"> ({{timer()}}s)</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
