<div class="container pt-3">
  <h2 class="pb-4 text-center">Grafik specjalistów</h2>
  <div class="card p-3 w-100 h-100 shadow-sm rounded-4">

    <div class="d-flex align-items-center flex-nowrap">

      <button mat-icon-button
              class="btn p-2 me-2"
              style="background-color: var(--primary-purple); color: var(--secondary-white);"
              [disabled]="!canGoToPreviousWeek() || isLoading()"
              (click)="goToPreviousWeek()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div class="d-block text-center p-3 shadow rounded-3 bg-white flex-grow-1 overflow-hidden">
        <div
          *ngFor="let day of weekDays"
          class="d-flex flex-row border rounded-3 p-2 mb-2"
          style="min-width: 150px;"
          [class.opacity-50]="isPastDay(day.date)"
          [class.bg-light]="isPastDay(day.date)"
        >
          <div class="d-flex flex-column justify-content-center mx-4 pt-2 pb-2">
            <div class="fw-bold text-uppercase text-muted small">
              {{ day.short }}
            </div>
            <div class="fw-bold">{{ day.day }}</div>
          </div>

          <div *ngIf="!isPastDay(day.date) && getTimeFromDay(day.full)?.length; else noSlots" class="d-flex flex-row gap-3 overflow-auto">
            <button
              *ngFor="let schedule of getTimeFromDay(day.full)"
              type="button"
              class="badge d-flex flex-column justify-content-center text-white p-3 mx-auto w-75 border-0 overflow-visible"
              style="font-size: 0.8rem; background: var(--primary-purple); cursor: pointer; min-width: 150px;"
              (click)="goToDetails(schedule.id)"
            >
              {{ schedule.startedAt }} - {{ schedule.finishedAt }} <br> <br>
              {{ schedule.doctor.name }}  {{ schedule.doctor.surname }}
            </button>
          </div>

          <ng-template #noSlots>
            <div class="d-flex justify-content-center align-self-center text-muted small mt-2 flex-grow-1">Brak grafików</div>
          </ng-template>
        </div>
      </div>

      <button mat-icon-button
              class="btn btn-outline-primary p-2 ms-2"
              style="background-color: var(--primary-purple); color: var(--secondary-white);"
              [disabled]="isLoading()"
              (click)="goToNextWeek()">
        <mat-icon>arrow_forward</mat-icon>
      </button>

    </div>

  </div>
</div>
