:root {
  --primary-purple: #76227D;
  --secondary-white: #F4F3F2;
}

.mat-mdc-snack-bar-container.xxx-alert-error {
  --mdc-snackbar-container-color: #a63131;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.xxx-alert-info {
  --mdc-snackbar-container-color: #228c22;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.xxx-alert-warning {
  --mdc-snackbar-container-color: gold;
  --mdc-snackbar-supporting-text-color: black;
}

.btn-green {
  background: #489a2c !important;
  color: white !important;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.btn-green:hover {
  background: #5cff5f;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-danger-custom {
  background: #ac2626 !important;
  color: var(--secondary-white) !important;
  border: none;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-danger-custom:hover {
  background: #d63939;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-warning-custom {
  background: #ffc107 !important;
  color: black !important;
  border-radius: 0.75rem;
  transition: 0.3s;
}

.btn-warning-custom:hover {
  background: #fbe157;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-purple {
  background: #692c9a !important;
  color: white !important;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.btn-purple:hover {
  background: #b65cff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.alert-unpaid {
  background: #fdf9b2;
  color: black;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.alert-unpaid:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
