:root {
  --primary-purple: #76227D;
  --secondary-white: #F4F3F2;
}

.mat-mdc-snack-bar-container.xxx-alert-error {
  --mdc-snackbar-container-color: #a63131;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.xxx-alert-info {
  --mdc-snackbar-container-color: #228c22;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.xxx-alert-warning {
  --mdc-snackbar-container-color: gold;
  --mdc-snackbar-supporting-text-color: black;
}
