<div class="container d-flex align-items-center pt-5">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    <h2 class="text-center mb-4">Utwórz nowe hasło</h2>
    <form class="d-flex flex-column align-items-center " [formGroup]="passwordResetForm" (ngSubmit)="onPasswordReset()">
      <div class="mb-3 w-75">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Hasło</mat-label>
          <input
            id="password-patient-aurorum"
            matInput
            autocomplete="off"
            [type]="hidePassword() ? 'password' : 'text'"
            [formControl]="controls.password" />
          <button
            mat-icon-button
            matSuffix type="button"
            (click)="clickEventPassword($event)"
            [attr.aria-label]="'Ukryj hasło'"
            [attr.aria-pressed]="hidePassword()"
          >
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (controls.password.invalid) {
            <mat-error>{{ getErrorMessage(controls.password) }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="mb-3 w-75">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Powtórzone hasło</mat-label>
          <input
            id="password-repeated-patient-aurorum"
            matInput
            autocomplete="off"
            [type]="hidePassword() ? 'password' : 'text'"
            [formControl]="controls.repeatedPassword" />
          @if (controls.repeatedPassword.invalid) {
            <mat-error>{{ getErrorMessage(controls.repeatedPassword) }}</mat-error>
          }
        </mat-form-field>
      </div>
      <app-alert class="mt-3 w-75" *ngIf="errorMessage()" [text]="errorMessage()"></app-alert>
      <div class="mt-3 mb-3">
        <button mat-flat-button type="submit" [disabled]="passwordResetForm.invalid"
                class="btn text-white border-0" style="background-color: var(--primary-purple)">Zmień hasło</button>
      </div>
    </form>
  </div>
</div>
