<div class="container d-flex flex-column align-items-center pt-4 mx-auto">
  <div class="card col-12 col-sm-10 col-md-12 col-lg-10 p-4 mx-auto shadow-lg border-0 rounded-4">
    <div *ngIf="doctor() as doctor" class="mb-2 w-100">
      <app-doctor-card
        [id]="doctor.id"
        [name]="doctor.name"
        [surname]="doctor.surname"
        [specialization]="doctor.specializations[0].name"
        [profilePicture]="doctor.profilePicture"
        [mode]="'schedule'"
      />
    </div>

    <h4 class="text-center fw-light mb-4">Nieobecności</h4>

    <h5 *ngIf="absences.length === 0" class="text-center fw-light mb-4">
      Brak nieobecności
    </h5>

    <div *ngIf="absences.length !== 0" class="col-12 col-sm-10 col-md-10 col-lg-10 mx-auto w-100">
      <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event.options)">
        <mat-list-option *ngFor="let absence of absences" [value]="absence.id" class="btn-warning-custom">
          <div class="d-flex flex-column">
            <span class="fw-bold">{{ absence.name }}</span>
            <span class="text-muted small">
            {{ formatDate(absence.startedAt) }} - {{ formatDate(absence.finishedAt) }}
          </span>
          </div>
        </mat-list-option>
      </mat-selection-list>

      <mat-paginator
        [length]="totalElements"
        [pageIndex]="pageIndex"
        [hidePageSize]="true"
        [showFirstLastButtons]="false"
        (page)="onPageChange($event)"
        aria-label="Wybierz stronę nieobecności"
        class="mt-3">
      </mat-paginator>
    </div>
    <div class="row w-100 gap-2">
      <div class="col-sm text-center">
        <button mat-flat-button type="button" class="btn btn-purple w-100" (click)="goBack()">Powrót</button>
      </div>
      <div class="col-sm text-center">
        <button mat-flat-button type="button" class="btn btn-danger-custom w-100" (click)="deleteAbsence()"
                [disabled]="!selectedAbsenceId">Usuń wybraną nieobecność
        </button>
      </div>
      <div class="col-sm text-center">
        <button mat-flat-button type="button" class="btn btn-green w-100" (click)="createAbsence()">Utwórz nową
          nieobecność
        </button>
      </div>
    </div>
  </div>
</div>
