<div *ngIf="mode() === 'collision'" class="card border w-100 p-2 mb-2">

  <div class="d-flex flex-column text-start"> <div class="mb-2">
    <h6 class="fw-semibold mb-0 text-dark">
      {{ name() }} {{ surname() }}
    </h6>
    <small class="text-black text-muted">
      {{ visitName() }} <span *ngIf="doctor() as doctor">- {{ doctor.name }} {{ doctor.surname }}</span>
    </small>
    <p> {{ date() | date: 'HH:mm EEEE, d MMMM yyyy':'':'pl' }}</p>
  </div>

    <div class="d-flex flex-wrap gap-3 text-muted small" style="font-size: 0.85rem;">

      <div class="d-flex align-items-center">
        <i class="bi bi-telephone me-1"></i> <span>Tel: <span class="text-dark">{{ phoneNumber() }}</span></span>
      </div>

      <div class="d-flex align-items-center">
        <i class="bi bi-envelope me-1"></i>
        <span>Email: <span class="text-dark">{{ email() }}</span></span>
      </div>

    </div>
  </div>
</div>
<button *ngIf="mode() === 'profileDoctor'" class="card border w-100 p-2 mb-2" (click)="goToProfile()">

  <div class="d-flex flex-column text-start"> <div class="mb-2">
    <h6 class="fw-semibold mb-0 text-dark">
      {{ name() }} {{ surname() }}
    </h6>
    <small class="text-black text-muted">
      {{ visitName() }} <span *ngIf="doctor() as doctor">- {{ doctor.name }} {{ doctor.surname }}</span>
    </small>
    <p> {{ date() | date: 'HH:mm EEEE, d MMMM yyyy':'':'pl' }}</p>
  </div>

    <div class="d-flex flex-wrap gap-3 text-muted small" style="font-size: 0.85rem;">

      <div class="d-flex align-items-center">
        <i class="bi bi-telephone me-1"></i> <span>Tel: <span class="text-dark">{{ phoneNumber() }}</span></span>
      </div>

      <div class="d-flex align-items-center">
        <i class="bi bi-envelope me-1"></i>
        <span>Email: <span class="text-dark">{{ email() }}</span></span>
      </div>

    </div>
  </div>
</button>
