.custom-calendar-wrapper .card {
  border: none;
  box-shadow: none;
}


.custom-calendar-wrapper ::ng-deep .mat-calendar-table-header th {
  color: #6c757d;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding-bottom: 10px;
}


.custom-calendar-wrapper ::ng-deep .mat-calendar-body-selected {
  background-color: var(--primary-purple);
  color: var(--secondary-white);
  border-color: var(--primary-purple);
  box-shadow: none;
}

.custom-calendar-wrapper ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: var(--primary-purple);
}

.custom-calendar-wrapper ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(0, 0, 0, 0.04);
}

.custom-calendar-wrapper ::ng-deep .mat-calendar-previous-button,
.custom-calendar-wrapper ::ng-deep .mat-calendar-next-button {
  color: var(--primary-purple);
}

.custom-calendar-wrapper ::ng-deep .mat-calendar-body-cell-content {
  font-family: inherit;
  font-weight: 500;
}
