<div class="container-fluid d-flex align-items-center pt-3 flex-column">
  <h2 class="text-center mb-4">
    Oceń swoją wizytę
  </h2>
  <div class="card col-12 col-sm-12 col-md-10 col-lg-6 p-4 mx-auto border rounded-2">
    <form [formGroup]="opinionForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center w-100">

      <div *ngIf="appointment() as app" class="mb-2 w-100">
        <app-doctor-card
          [id]="app.doctor.id"
          [name]="app.doctor.name"
          [surname]="app.doctor.surname"
          [specialization]="app.doctor.specializations[0].name"
          [profilePicture]="app.doctor.profilePicture"
          [price]="app.service.price"
          [mode]="'appointmentRegister'"
        />
      </div>

      <mat-card class="mb-4 w-100 shadow-none">
        <mat-card-content class="pt-3">
          <div class="pb-4">
            <h5 class="text-center">Wybierz ocenę</h5>
            <div class="d-flex justify-content-center gap-2">
              <span *ngFor="let star of stars">
                <mat-icon
                  class="fs-4"
                  [class.text-warning]="rating() >= star"
                  [class.text-secondary]="rating() < star"
                  [class.cursor-pointer]="true"
                  (click)="setRating(star)"
                >
                  star
                </mat-icon>
              </span>
            </div>
            @if (controls.rating.invalid) {
              <mat-error>{{ getErrorMessage(controls.rating) }}</mat-error>
            }
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Treść</mat-label>
            <textarea
              matInput
              rows="4"
              [formControl]="controls.comment"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="6"
            ></textarea>
            @if (controls.comment.invalid) {
              <mat-error>{{ getErrorMessage(controls.comment) }}</mat-error>
            }
          </mat-form-field>

        </mat-card-content>
      </mat-card>

      <app-alert class="mt-3 w-75" *ngIf="message()" [text]="message()"></app-alert>

      <div class="row w-100 gap-2">
        <div class="col-sm text-center">
          <button mat-flat-button type="button" class="btn border w-50" routerLink="/profile/appointments">Anuluj
          </button>
        </div>
        <div class="col-sm text-center">
          <button
            mat-flat-button
            type="submit"
            class="btn text-white w-50"
            style="background-color: var(--primary-purple);"
            [disabled]="opinionForm.invalid"
          >
            Opublikuj
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
